.body{
    background: radial-gradient(circle at center,#333B2D,#000);
    min-height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    gap:30px
}
.bodyy{
    background: radial-gradient(circle at center,#333B2D,#000);
    min-height: 150vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap:30px
}
.bodyy h1{
    font-size: 32px;
    color: #fff;
}
.bodyy header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.bodyy main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    min-height: 550px;
    row-gap: 10px;
    column-gap: 10px;
    object-fit: cover;
    padding: 20px;
}
.webDev{
    height: 350px;
    width: 350px;
    background-image: url("../assets/Web\ development.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.webDev:hover{
    transform: scale(1.07);
}
.appDev{
    height: 350px;
    width: 350px;
    background-image: url("../assets/App\ development.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.appDev:hover{
    transform: scale(1.07);
}
.phoneFix{
    height: 350px;
    width: 350px;
    background-image: url("../assets/Phone\ Fixing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.phoneFix:hover{
    transform: scale(1.07);
}
.laptopFix{
    height: 350px;
    width: 350px;
    background-image: url("../assets/Laptop\ Fixing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.laptopFix:hover{
    transform: scale(1.07);
}
.videoEdit{
    height: 350px;
    width: 350px;
    background-image: url("../assets/Video\ editing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.videoEdit:hover{
    transform: scale(1.07);
}
.headerArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:450px; 
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
footer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: #000;
    width: 540px;
    height: 540px;
    padding:10px;
    color: white;
    font-size: 40px;
    border-radius: 30px;
}
.title{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    font-size: 25px;   
}
.userName{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    font-size: 25px;
}
.userEmail{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    font-size: 25px;
}
.userMessage{
    border-radius: 19px;
    font-size: 25px;
}
.profileTab{
    background-color: #fff;
    color:black;
    width: 350px;
    height: 505px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: top;
    padding: 7px;
}
.profileTop{
    border-radius: 20px;
    background-color: #000;
    color: white;
    width: 350px;
    height:350px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileBottom{
    border-radius: 20px;
    background-color: #000;
    color: white;
    width: 350px;
    height:150px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileBottom ul li {
    text-decoration: none;
    color: white;
}